[globals]
DEBUG=0
TEMP=../tmp/
AUTOLOAD=../app/
UI=../gui/

[database]
server=localhost
user=root
password=
database=editaton

[email]
server=localhost
user=root
password=
scheme=ssl
port=25
from=Inscripción Eventos - Wikimedia Chile
